.SNGP h3{
    background-image: url(/wp-admin/images/gray-grad.png);
    background-repeat: repeat-x;
    background-position: left top;
    background-color: #DFDFDF;
    font-size: 12px;
    border: solid 1px #CCC;
    padding: 10px;
}

.SNGP .cLeft { float: left; width: 750px; }
.SNGP .cRight { float: left; width: 300px; margin-left: 10px; }

.SNGP .small { font-size: 10px;line-height: 12px; padding: 0 10px !important; }
.SNGP table.options td.inputTD,
.SNGP table.options td.inputTD select,
.SNGP table.options td.catLeft { width: 130px; }
.SNGP table.options input[type=text],
.SNGP table.options textarea { width: 400px; border: 1px solid #DFDFDF; }
.SNGP table.options td.inputTD_small input[type=text] { width: 50px; }
.SNGP table.options td{ padding: 5px; }